@model IEnumerable<MvcShop.ProductDTO>

@{
    ViewBag.Title = "Odeme";
    Layout = "~/Views/Shared/_LayoutPage1Nav.cshtml";
}

<h2>Odeme</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunAd)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.BirimFiyat)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAd)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.BirimFiyat)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
